<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car details</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>

<h1>Car details</h1>

<div th:if="${carModel != null}" class="carDetail">
    <span th:text="${carModel.name} + ', '"></span>
    <span th:text="${carModel.brand} + ', '"></span>
    <span th:text="${carModel.year} + ', '"></span>
    <span th:text="${carModel.price} + ', '"></span>
    <span th:text="${carModel.uploadDate}"></span>
</div>

<div th:if="${carModels != null and not #lists.isEmpty(carModels)}">
    <div th:each="car : ${carModels}" class="carDetail">
        <span th:text="${car.name} + ', '"></span>
        <span th:text="${car.brand} + ', '"></span>
        <span th:text="${car.year} + ', '"></span>
        <span th:text="${car.price} + ', '"></span>
        <span th:text="${car.uploadDate}"></span><br>
    </div>
</div>

<div th:if="${carModels != null and #lists.isEmpty(carModels)}">
    <p>No cars available.</p>
</div>

<form th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
</form>

</body>
</html>
